.bottomBlock {
    display: flex;
    align-items: center;
}

.profile {
    background-color: #EDF6F3;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 0px 3px 12px rgba(6, 6, 64, 0.04);
}

.lines {
    display: flex;
    flex-direction: column;
    margin-left: 11px;
}

.topLine {
    background-color: #EDF6F3;
    border-radius: 8px;
    width: 100px;
    height: 6px;
    margin-bottom: 8px;
}

.bottomLine {
    background-color: #EDF6F3;
    border-radius: 8px;
    width: 60px;
    height: 6px;
}